/*-- Use For Custom Styling --*/


.bg-color-body {
  background-color: #DFDBE4;
}

.bottom-footer {
  background-color: #DFDBE4;
}
.desc-div {
    height: 100px;
    width: 500px;
    font-size: 15px; 
    text-align:center;
    float:left;
    position:relative;
    padding:50px;
    font-family: 'Poppins', sans-serif;

  }
.div-video {
    position: absolute;
}

.bottom-image {
  display: flex;
  justify-content: center;
}